# Secrets
.streamlit/secrets.toml

# Virtual Environment
botenv/
venv/
env/

# Python cache
__pycache__/
*.pyc

# OS files
.DS_Store
Thumbs.db

# Chat history (optional)
chats.json

A Project Report on Chatbot By Ishan Ahmed.docx
A Project Report on Chatbot By Ishan Ahmed.pdf

.gitignore